body {
  height: 4000px;
  color: #00171F;
}

.banner {
  background-color: #073dd2;
}

nav {
  background-color: #073dd2;
}

.logo {
  color: #FFFFFF;
  font-family: "Share Tech Mono", monospace;
}

.header {
  font-family: "Share Tech Mono", monospace;
  text-shadow: 1px 1px 1px #afafaf;
}

@media only screen and (min-width: 768px) {
  #nav-logo {
    font-size: 1.3rem;
  }
  .banner {
    height: 575px;
    background-image: url("../images/data-center.png");
  }
  .logo-container {
    position: relative;
    top: 135px;
    text-shadow: 2px 5px 5px gray;
  }
  .logo {
    font-size: 10rem;
    font-family: "Share Tech Mono", monospace;
  }
  #logo-what {
    position: absolute;
    top: -130px;
    left: 17%;
  }
  #logo-my {
    position: absolute;
    left: 45%;
  }
  #logo-data {
    position: absolute;
    top: 135px;
    left: 47%;
  }
  .description {
    font-family: "Share Tech Mono", monospace;
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    font-weight: 600;
    margin-top: 30px;
  }
  .data-container {
    position: relative;
    margin-top: 200px;
  }
  .card-title {
    font-size: 2rem;
    font-weight: 600;
  }
  .card-desc {
    font-weight: 500;
  }
  .data {
    font-weight: 400;
  }
  .card-shadow {
    background-color: #073dd2;
    height: 240px;
    width: 350px;
    z-index: -1;
  }
  .left-shadow {
    position: absolute;
    top: -15px;
    left: -15px;
  }
  .right-shadow {
    position: absolute;
    top: -15px;
    right: -55px;
  }
  .card-content {
    width: 300px;
    min-height: 320px;
    padding: 25px;
    line-height: 2;
    background-color: #FFFFFF;
  }
  .data-container
.col.s6.right-side-text {
    position: relative;
    right: -45px;
  }
  .card-about {
    position: relative;
    top: 33px;
    max-width: 350px;
  }
  #software-card {
    position: absolute;
    right: -33px;
  }
  ul.data.lists {
    padding-left: 20px;
    margin-top: 0;
  }
  ul li.list-item {
    list-style-type: circle;
  }
  .top-margin {
    margin-top: 250px;
  }
  .learn-more {
    font-family: "Share Tech Mono", monospace;
    font-size: 1.7rem;
  }
  .link-btn {
    background-color: #d29c07;
    font-family: "Share Tech Mono", monospace;
    display: block;
  }
  .link-btn:hover {
    background-color: #d4db32;
  }
  #user-agent-exp {
    margin-top: 20px;
  }
  #user-agent-spoof {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 900px) {
  .banner {
    height: 510px;
  }
  .data-container
.col.s6.right-side-text {
    position: relative;
    right: -55px;
  }
}

@media only screen and (min-width: 1250px) {
  .card-title {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .card-desc {
    font-size: 1.25rem;
  }
  .card-shadow {
    background-color: #073dd2;
    height: 260px;
    width: 440px;
    z-index: -1;
  }
  div.chart-shadow {
    width: 610px;
    height: 400px;
  }
  #hardware-shadow {
    position: absolute;
    top: -20px;
    left: -15px;
  }
  .card-content {
    width: 387px;
    height: 400px;
    padding: 25px;
    line-height: 2;
    background-color: #FFFFFF;
  }
  div.chart-card {
    width: 560px;
    min-height: 450px;
  }
  .data-container
.col.s6.right-side-text {
    position: relative;
    right: -55px;
  }
  .card-about {
    max-width: 550px;
  }
  .explanation {
    font-size: 1.25rem;
  }
  .learn-more {
    font-size: 2rem;
  }
  .top-margin {
    margin-top: 350px;
  }
}
/*# sourceMappingURL=styles.css.map */