$light-base: #00A8E8;
$mid-base: #007EA7;
$primary: #073dd2;
$secondary: #d29c07;
$light-bg: #E7E9FB;
$dark-text: #00171F;
$header-font: 'Share Tech Mono',
monospace;

body {
    height: 3000px;
    color: $dark-text;
}

.banner {
    background-color: $primary;
}

nav {
    background-color: $primary;
}

.logo {
    color: #FFFFFF;
    font-family: $header-font;
}

.header {
    font-family: $header-font;
    text-shadow: 1px 1px 1px rgb(175, 175, 175);
}

@media only screen and (min-width: 0px) {
    .banner {
        height: 500px;
        background-image: url("../images/data-center.png");
    }

    .logo-container {
        position: relative;
        top: 100px;
        text-shadow: 2px 5px 5px gray;
    }

    .logo {
        font-size: 10rem;
        font-family: $header-font;
    }

    #logo-what {
        position: absolute;
        top: -130px;
        left: 17%;
    }

    #logo-my {
        position: absolute;
        left: 45%;
    }

    #logo-data {
        position: absolute;
        top: 135px;
        left: 47%;
    }

    .description {
        font-family: $header-font;
        font-size: 3rem;
        margin: 0 auto;
        text-align: center;
        width: 80%;
        font-weight: 600;
        margin-top: 30px;
    }

    .data-container {
        position: relative;
        margin-top: 200px;
    }

    .card-title {
        font-size: 2rem;
        font-weight: 600;
    }

    .card-desc {
        font-weight: 500;
    }

    .data {
        font-weight: 400;
    }

    .card-shadow {
        background-color: $primary;
        height: 240px;
        width: 350px;
        z-index: -1;
    }

    #hardware-shadow {
        position: absolute;
        top: -15px;
        left: -15px;
    }

    .card-content {
        width: 300px;
        padding: 25px;
        line-height: 2;
        background-color: #FFFFFF;
    }

    .card-about {
        position: relative;
        top: 33px;
    }

    #software-shadow {
        position: absolute;
        top: -15px;
        right: -55px;
    }

    #software-card {
        position: absolute;
        right: -33px;
    }

    #plugins {
        padding-left: 20px;
        margin-top: 0;
    }

    .plugin-name {
        list-style-type: circle !important;
    }

    .top-margin {
        margin-top: 250px
    }

    .learn-more {
        font-family: $header-font;
        font-size: 1.7rem;
    }

    .link-btn {
        background-color: $secondary;
        font-family: $header-font;
        display: block;
    }
    .link-btn:hover {
        background-color: #d4db32;
    }

    #user-agent-exp {
        margin-top: 20px;
    }

    #user-agent-spoof {
        margin-top: 20px;
    }
}

<<<<<<< Updated upstream
=======
@media only screen and (min-width: 900px) {

    .banner {
        height: 510px;
    }

    .data-container 
    .col.s6.right-side-text {
        position: relative;
        right: -55px;
    }
}


@media only screen and (min-width: 1250px) {

    .card-title {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .card-desc {
        font-size: 1.25rem;
    }

    .card-shadow {
        background-color: $primary;
        height: 260px;
        width: 440px;
        z-index: -1;
    }

    #hardware-shadow {
        position: absolute;
        top: -20px;
        left: -15px;
    }

    .card-content {
        width: 387px;
        height: 400px;
        padding: 25px;
        line-height: 2;
        background-color: #FFFFFF;
    }

    .data-container 
    .col.s6.right-side-text {
        position: relative;
        right: -55px;
    }

    .card-about {
        max-width: 550px;
    }

    .explanation {
        font-size: 1.25rem;
    }

    .learn-more {
        font-size: 2rem;
    }

    .top-margin {
        margin-top: 350px
    }
}
>>>>>>> Stashed changes
